/*
Title/Header
*/

input[type="text"].name{
	font: bolder 3em Ariel;
	width: 200px;
	color: black;
}

span.name {
	font: bolder 3em Ariel;
	color: black;
}

.main {
	width: auto;
	margin: 10px auto;
	text-align: center;
	padding: 15px 10px;
}

/*Body/Buttons*/


li.selected {
	border: 2px solid black;
	border-radius: 20px;
}

li.selected input[type="text"], li.selected p {
	width: 90%;
	font: 30px Garamond;
}

li.selected>.container {
	display: block;
	text-align: right;
}

li .container {
	display: none;
}

.container {
	display: inline-block;
	text-align: center;
	width: auto;
	margin: 0px auto;
	margin-top: 10px;
	padding: 0px 10px;
	border: none;
}

/*Subtasks*/

ul.subtasklist {
	display:none;
}

li.selected ul.subtasklist {
	display: initial;
}

li.subtask {

}


/*Text Inputs and Span*/
li.edit input[type="text"], div.edit input[type="text"] {
	display: inline-block;
	border-bottom: 2px solid black;
}

li.edit p, p.empty, li.edit span, div.edit span {
	display: none;
}


input[type="text"].empty {
	display: inline-block;
	border-bottom: 2px solid black;
}

input[type="text"].filled {
	display: none;
	margin: 0px 0px;
	border-bottom: none;
}

li p.completed {
	text-decoration: line-through;
}

/*ID*/


#time {
	font-size: 30px;
}

#fakespan {
	visibility: hidden;
	white-space: nowrap;
	width:auto;
	display: inline-block;
	position: fixed;
	overflow: auto;
	font: 24px Garamond;
}

#canvas1 {
	position: absolute;
	box-sizing: border-box;
	top:0;
	left: 0;
	background: radial-gradient(#B7E9F7, #7AD7F0);
	z-index: -1;
}

#content {
	border-radius: 15px;
	background: rgba(99, 209, 244,1);
	margin: 10px 5px;
	padding: 20px 15px;

}