* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
}


h1{
	display: inline;
	text-align: center;
	font-size: 45px;
	font-family: Ariel;
	width: 50%;
	margin: auto;
	border: none;
}

h2{
	text-align: center;
	font-size: 34px;
	font-family: Garamond;
	margin-top: 27px;
	margin-bottom: 8px;
}

body {
	background-color: #BFEFFF;
}


ul {
	max-height: 325px;
	max-width: 500px;
	text-align: left;
	list-style-position: inside;
	overflow-y: auto;
}


li {
	margin: 15px 0px;
	padding: 5px 0px 10px 15px;
	border-radius: 20px;
	border: none;
}


input[type="button"] {
	margin: 0px 0px 0px 10px;
	padding: 5px 10px;
	font: 16px Garamond;
	outline: none;
	border: 1px solid blue;
	border-radius: 10px;
	transition: color 400ms, font-size 400ms, margin 400ms;
	background-color: transparent;

}

input[type="button"]:hover {
	color: white;
	font-size: 18px;
	margin: 0px 5px 0px 15px;
}

input[type="text"]{
	border: 0;
	background: transparent;
	display: inline-block;
	margin: 0px 5px 0px 0px;
	border-bottom: 2px solid black;
	padding: 0px 5px;
	width: 85%;
	height: auto;
	outline: none;
	color: black;
	font: 27px Garamond;
	transition: width 200ms, font 200ms;
	word-wrap: normal;
}


p {
	display: inline-block;
	vertical-align: top;
	font: 27px Garamond;
	margin: 0px 0px;
	padding: 0px 5px;
	word-wrap: break-word;
	white-space: normal;
	width: 65%;
	height: 100%;
}