h1{
	text-align: center;
	font-size: 50px;
	font-family: Ariel;
	margin-bottom: 10px;
}

h2{
	text-align: center;
	font-size: 34px;
	font-family: Garamond;
	margin-top: 27px;
	margin-bottom: 8px;
}

body {
	background-color: lightblue;
}


ul {
	display: table;
	margin: 0px auto;
	text-align: left;
	padding: 0;
}

li {
	margin: 0px;
	padding: 5px 10px;
	border: none;
}

li.selected {
	background-color: #FFDAB9;
}

#time {
	font-size: 30px;
}

#fakespan {
	visibility: hidden;
	white-space: nowrap;
	width:auto;
	display: inline-block;
	position: fixed;
	overflow: auto;
	font: 24px Garamond;
}

.container {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 8px 0px;
}

input[type="button"] {
	margin: 3px 10px
	padding: 10px 50px;
	outline: none;
	border: 1px solid blue;
	border-radius: 10px;
	transition-duration: : 40ms;
}

input[type="button"]:hover {
	background-color: #D3D3D3;
}

input[type="button"].delete, input[type="button"].complete {
	display: none;
}



li.selected input[type="button"].delete, li.selected input[type="button"].complete {
	display: inline-block;
	margin: 0px 0px 0px 15px;
}


input[type="text"]{
	border: 0;
	background: lightblue;
	display: inline-block;
	margin: 3px 5px 3px 0px;
	border-bottom: 2px solid black;
	padding: 5px 10px;
	width: 100px;
	outline: none;
	color: black;
	font: 24px Garamond;
	transition: 0.1s;
}


li.edit input[type="text"] {
	display: initial;
	border-bottom: none;
}

span {
	font: 24px Garamond;
	margin: 6px 0px 6px 0px;
	padding: 10px 0px;
}

li.edit span {
	display: none;
}

input[type="text"].empty {
	display: initial;
}

input[type="text"].filled {
	display: none;
	border-bottom: none;
}

li span.completed {
	text-decoration: line-through;
}
